{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/newspaper.svg' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Домашнее заданее 1</title>
</head>
<body>
    <header>
        <div class="logo">
            AskPumpkin
        </div>
        <div class="search">
            <input type="text" name="search" placeholder="search">
            <button class="search-button">ASK!</button>
        </div>
        <div class="profile">
            <div class="avatar"></div>
            <div class="profile-info">
                <p>{{ user.username }}</p>
                <div class="profile-actions">
                    <a href="#">settings</a>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">logout</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% csrf_token %}
        <div class="main-container">
            <!-- Сообщения -->
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <h2>
                New Questions
                <span><a href="#">Hot Questions</a></span>
                <a href="{% url 'create_question' %}" style="margin-left: auto">Создать вопрос</a>
            </h2>

            <div class="questions-list">
                {% for question in new_questions %}
                    <div class="question">
                        {% if question.cover %}
                            <img src="{{ question.cover.url }}" alt="">
                        {% endif %}
                        <a href="/" class="question-title">{{ question.title }}</a>
                        <p class="question-content">{{ question.detailed }}</p>
                        <p>Rating: <span id="{{ question.id }}-rating">{{ question.rating }}</span></p>
                        <button onclick="sendLike({{ question.id }})" class="like-btn">Like</button>
                    <button onclick="sendDislike({{ question.id }})" class="like-btn">Dislike</button>
                    </div>
                {% endfor %}
            </div>

            <div class="pagination">
                {% for page in pages %}
                    <a href="/?page={{ page }}">{{ page }}</a>
                {% endfor %}
            </div>
        </div>
        <aside>
            <div class="tags-container">
                <h3>Popular Tags</h3>
                <div class="tags">
                    {% for tag in tags %}
                        <a href="/?tag={{ tag.title }}">{{ tag.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </aside>
    </main>

    <script>
        function sendLike(question_id) {
          const csrfMiddlewareToke = document.getElementsByName('csrfmiddlewaretoken')[1];
          const currentRating = document.getElementById(`${ question_id }-rating`);
          fetch(`/api/question/${question_id}/toggle_like`, {
            'method': "POST",
            'body': JSON.stringify({'is_like': true})
          }).then((res) => {
            if (res.status >= 400) console.error(res);
            return res
          }).then((res) => {return res.json()}).then((res) => {
            currentRating.innerHTML = `${res.rating}`;
          });
        }

        function sendDislike(question_id) {
          const csrfMiddlewareToke = document.getElementsByName('csrfmiddlewaretoken')[1];
          const currentRating = document.getElementById(`${ question_id }-rating`);
          fetch(`/api/question/${question_id}/toggle_like`, {
            'method': "POST",
            'body': JSON.stringify({'is_like': false})
          }).then((res) => {
            if (res.status >= 400) console.error(res);
            return res
          }).then((res) => {return res.json()}).then((res) => {
            currentRating.innerHTML = `${res.rating}`;
          });
        }
    </script>
</body>
</html>